@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  font-family: Poppins, sans-serif;
  color-scheme: light;

  --color-background: #e1f5e4; /* Białe tło */
  --color-foreground: #111827; /* Ciemny tekst */
  --color-card: #ffffff; /* Jasnoszary dla kart/przycisków */
  --color-primary: #f4f7f5; /* Biały Navbar w trybie jasnym */
  --color-accent: #3eb369; /* Pomarańczowy akcent (bez zmian) */
}

.dark {
  color-scheme: dark;

  --color-background: #111827; /* Ciemne tło */
  --color-foreground: #ffffff; /* Biały tekst */
  --color-card: #1f2937; /* Ciemnoszary dla kart/przycisków */
  --color-primary: #1f2937; /* Ciemny Navbar w trybie ciemnym */
 
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}
